<%= form_for :author do |f| %>
  <div class="field">
    <%= f.label :name, t(".new_author") %>
    <%= f.text_field :name, class: "form-control",value: "",
      placeholder: t(".enter_name") %>
  </div>
  <%= f.submit t(".add"), class: "btn btn-primary" %>
<% end %>
