$color_blue: blue;
$color_white: white;
$color_yellow: yellow;
$color_red: red;
$color_update: #00FF00;
$color_update_title: #006400;
$color_rating: #0033CC;
$color_read: #FF0000;
$color_waiting: #FFFF33;
$color_viewed: #660099;
$color_gray_darker: #5b5b5b;
$color_button_shadow: rgba(0, 0, 0, 0.2);
$color_button_rating: rgb(28, 184, 65);
$color_button_read: rgb(202, 60, 60);
$color_button_waiting: rgb(223, 117, 20);
$color_button_viewed: rgb(66, 184, 221);
$color_table_th: #81bef7;
$color_body: #e6e6e6;
$color_slogan: #cc0000;
$color_gray_lighter: #eaeaea;
$color_white_darker: #f1f3fa;
$color_blue_gray: #5a7391;
$color_blue_darker: #5b9bd1;
$color_white2: #f0f4f7;
$color_gray2: #93a3b5;
$color_white3: #fafcfd;
$color_white4: #f6f9fb;
