<div class = "gray-bg" id="search">
  <div class="container section-book">
    <div class="row">
      <h2 id="search_book">
        <strong>
          <%= t ".search_book" %>
          <div class="search">
            <input id="search-box" class="search-box" name="search-box" type="text">
            <label for="search-box">
              <span class="glyphicon glyphicon-search search-icon"></span>
            </label>
            <div class="search-result">
              <ul id="data-search"></ul>
            </div>
          </div>
        </strong>
      </h2>
      <div class="title-bar blue"></div>
    </div>
  </div>            
</div>
