<div class = "header-text">
  <div class="container fix">
    <div class="row wow fadeInUp">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <div class="jumbotron">
          <h1 class="text-white text-uppercas" id="slogan">
            <%= t ".slogan", id: "slogan" %>
          </h1>
        </div>
        <div class="space-40"></div>
      </div>
    </div>
  </div>
</div>
