<div class="col-md-3 text-center gray-bg" id="section0">
  <h2 id="rank">
    <strong><%= t ".rank" %></strong>
  </h2>
  <div class="row hot-user">
    <div class="row">
      <div class="hot-user-img col-md-4">
        <%= image_link_to "img935-2-2.jpg", info_path, 
          size: Settings.size_image_info %>
      </div>
      <div class="infor col-md-8 text-left">
        <h4 id="name">
          <%= t ".name1" %>
        </h4>
      </div>
    </div>
  </div>
  <div class="row hot-user">
    <div class="row">
      <div class="hot-user-img col-md-4"></div>
      <div class="infor col-md-8 text-left"></div>
    </div>
  </div>
  <div class="row hot-user">
    <div class="row">
      <div class="hot-user-img col-md-4"></div>
      <div class="infor col-md-8 text-left"></div>
    </div>
  </div>
</div>
